extends layout

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 #{project_name}

      
        p.lead.text-light
          h2 #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        
        ul
        each val in tech
          h3
            li= val
      
        a.button.expanded(href=`${livelink}`) Live Demo
        a.button.expanded(href=`${github}`) GitHub Repo
    
    
    
    each photo in images
      img(src=`${photo}`)
      ul _______________________________________________________________________________________________